name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install sshpass
        run: sudo apt-get update && sudo apt-get install -y sshpass

      - name: Deploy via SSH
        env:
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: |
          sshpass -p "$SSH_PASSWORD" \
          ssh -o StrictHostKeyChecking=no \
          "$SSH_USER@$SSH_HOST" \
          "cd ~/${GITHUB_REPOSITORY##*/} && ./deploy.sh"
